
.editable-div {
  width: 100%;
  min-width: 119px;
  height: 100%;
  min-height: 22px;
  border: none;
  outline: none;
  resize: none;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #333;
  padding: 0;
  white-space: nowrap;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.editable-div:empty:before {
  content: attr(data-placeholder);
  color: rgba(153, 153, 153, 1);
  pointer-events: none;
  opacity: 1;
}


.text-area-container {
  position: relative;
  top: 10px;
  left: 10px;
  min-width: 119px;
  max-width: 1200px;
  min-height: 22px;
  background: transparent;
  border: 1px solid transparent; 
  box-sizing: border-box;
  user-select: none;
  z-index: 5;
  display: inline-block; 
}

.handle {
  position: absolute;
  width: 16px;
  height: 16px;
  left: -20px;
  cursor: move;
  z-index: 10;
  pointer-events: all;
  background: transparent;
}

.resizer {
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: -8px;
  right: -8px;
  cursor: nwse-resize;
  z-index: 10;
  pointer-events: all;
  background: transparent;
}

.text-area-container > div {
  width: auto; 
  height: 100%;
  padding: 2px;
  box-sizing: border-box;
}

.text-color-input {
  position: absolute;
  top: 50px;
  cursor: pointer;
  left: 280px;
  display: block;
  z-index: 10000;
}

.body-color-input{
  position: absolute;
  top: 50px;
  cursor: pointer;
  display: block;
  left: 316px;
  z-index: 10000;
}

.border-color-input{
  position: absolute;
  top: 50px;
  cursor: pointer;
  display: block;
  left: 356px;
  z-index: 10000;
}

.editable-div a {
  color: inherit;           
  text-decoration: underline;
  cursor: pointer;          
}


