<gridster [options]="options" class="gridster-wrapper">
  <gridster-item *ngFor="let item of items; let i = index" 
                  [item]="item"
                  [ngClass]="{ 'focused': focusedIndex === i }">

    <app-text-area
      *ngIf="item.type === 'text'" 
      [styleState]="styleStateMap[i]"
      (editableRef)="setEditableDiv(i, $event)" 
      (focusChanged)="onFocusChange(i, $event)">
    </app-text-area>

    <app-text-bar
      *ngIf="focusedIndex === i"
      [editableDiv]="editableDivMap[i]"
      [styleState]="styleStateMap[i]"
      (styleChanged)="onStyleChanged(i, $event)"
      (deleteClicked)="deleteItemRequested.emit(i)">
    </app-text-bar>


  </gridster-item>
</gridster>
